{% extends "form_div_layout.html.twig" %}
{%- trans_default_domain "form" -%}

{#- #####################################################################
    Global Structure
    ##################################################################### -#}

{%- block form_start -%}
    {%- set attr = attr|appendToKey("class", "form") -%}
    {{- parent() -}}
{%- endblock form_start -%}


{%- block form_widget_compound -%}
    {# remove wrapper div #}
    {%- if form is rootform -%}
        {{- form_errors(form) -}}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}



{#- #####################################################################
    Form Rows
    ##################################################################### -#}

{%- block form_row -%}
    {%- set row_attr = row_attr|appendToKey("class", "form-row") -%}

    {%- if form_row_type is defined -%}
        {%- set row_attr = row_attr|appendToKey("class", form_row_type) -%}
    {%- endif -%}

    {%- if errors|length > 0 -%}
        {%- set row_attr = row_attr|appendToKey("class", "has-error") -%}
    {%- endif -%}

    {%- if compound -%}
        {{- block('form_row_compound') -}}
    {%- else -%}
        {{- block('form_row_simple') -}}
    {%- endif -%}
{%- endblock form_row -%}


{%- block form_row_simple -%}
    {%- set widget_attr = {} -%}
    {%- set element_attr = (element_attr ?? [])|appendToKey("class", "form-widget") -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
<div{% with {attr: row_attr} %}{{ block("attributes") }}{% endwith %}>
    <div class="form-element">
        {{- form_label(form, null, {element: "label"}) -}}
        <div {% with {attr: element_attr} %}{{ block("attributes") }}{% endwith %}>
            {{- form_widget(form, widget_attr) -}}
        </div>
    </div>
    {{- form_help(form) -}}
    {{- form_errors(form) -}}
</div>
{%- endblock form_row_simple -%}


{%- block form_row_compound -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {%- if label is same as (false) -%}
        {# without a label -> just inline like regular fields #}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    {%- else -%}
        {# with label -> show as nested form (but only if it is not a choice #}
        {%- if (is_nested_form ?? true) -%}
            {%- set row_attr = row_attr|appendToKey("class", "form-nested") -%}
            {%- set element_attr = (element_attr ?? [])|appendToKey("class", "form-widget-nested") -%}
        {%- endif -%}
        {{- block("form_row_simple") -}}
    {%- endif -%}
{%- endblock form_row_compound -%}



{#- #####################################################################
    Form Label
    ##################################################################### -#}

{%- block form_label -%}
    {%- set label_attr = label_attr|appendToKey("class", "form-label") -%}
    {{- parent() -}}
{%- endblock form_label -%}



{#- #####################################################################
    Form Help
    ##################################################################### -#}

{%- block form_help -%}
    {%- set help_attr = help_attr|appendToKey("class", "form-help") -%}
    {{- parent() -}}
{%- endblock form_help -%}



{#- #####################################################################
    Form Errors
    ##################################################################### -#}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="form-errors {{ form is rootform ? "form-row" }}">
            {%- for error in errors -%}
                <li>{{ "form.error.message" | trans({error: error.message}) }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}



{#- #####################################################################
    Base Class for field types
    ##################################################################### -#}

{%- block form_widget_simple -%}
    {%- set attr = attr|appendToKey("class", "form-input form-input-" ~ (type ?? "text")) -%}
    {%- if type is defined and type is not same as ("text") -%}
        {%- set attr = attr|appendToKey("class", "form-input-text") -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock form_widget_simple -%}



{#- #####################################################################
    Field Type: Choice
    ##################################################################### -#}

{%- block choice_row -%}
    {%- set form_row_type = expanded ? "form-row-choices-list" : "form-row-select" -%}
    {%- set is_nested_form = false -%}
    {{- block("form_row") -}}
{%- endblock choice_row -%}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
        <label class="form-widget-expanded-choice">
            {{- form_widget(child) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain, element: "span"}) -}}
        </label>
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
    {%- set attr = attr|appendToKey("class", "form-input form-input-select") -%}
    {%- if multiple and placeholder is not empty -%}
        {%- set attr = attr|merge({"data-placeholder": placeholder}) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{%- block checkbox_widget -%}
    <span class="form-input-checkbox">
        {{- parent() -}}<i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="M9.3 18.7L2.7 12l1.8-1.9 4.8 4.8L19.5 4.8l1.8 1.9z"></path></svg></i>
    </span>
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    <span class="form-input-radio">
        {{- parent() -}}<i></i>
    </span>
{%- endblock radio_widget -%}



{#- #####################################################################
    Field Type: Textarea
    ##################################################################### -#}

{%- block textarea_widget -%}
    {%- set attr = attr|appendToKey("class", "form-input form-input-text form-input-textarea") -%}
    {{- parent() -}}
{%- endblock textarea_widget -%}



{#- #####################################################################
    Row: Checkbox
    ##################################################################### -#}

{%- block checkbox_row -%}
    {%- set row_attr = row_attr|appendToKey("class", "form-row form-row-checkbox") -%}

    {%- if errors|length > 0 -%}
        {%- set row_attr = row_attr|appendToKey("class", "has-error") -%}
    {%- endif -%}

    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block("attributes") }}{% endwith %}>
        <div class="form-element">
            <span class="form-widget">
                <label class="form-widget-expanded-choice">
                    {{- form_widget(form, widget_attr) -}}
                    {{- form_label(form, null, {element: "span"}) -}}
                </label>
            </span>
        </div>
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row -%}


{#- #####################################################################
    Row: Form Type Row Classes
    ##################################################################### -#}
{%- block date_row -%}
    {%- set form_row_type = "form-row-text form-row-date" -%}
    {{- block("form_row") -}}
{%- endblock -%}

{%- block email_row -%}
    {%- set form_row_type = "form-row-text form-row-email" -%}
    {{- block("form_row") -}}
{%- endblock -%}

{%- block text_row -%}
    {%- set form_row_type = "form-row-text" -%}
    {{- block("form_row") -}}
{%- endblock -%}

{%- block textarea_row -%}
    {%- set form_row_type = "form-row-text form-row-textarea" -%}
    {{- block("form_row") -}}
{%- endblock -%}




{#- #####################################################################
    Row: Collection
    ##################################################################### -#}

{%- block collection_row -%}
    {%- set element_attr = (element_attr ?? [])|merge({"data-form-collection": ({
        prototype: (allow_add and prototype is defined) ? form_row(prototype) : null,
        remove: allow_delete,
        sort: allow_sort,
        text: {
            add: entry_add_label ? entry_add_label|trans : null,
            remove: entry_remove_label ? entry_remove_label|trans : null,
            empty: empty_message ? empty_message|trans : null,
        },
        prefixes: {
            id: id ~ "_<index>_",
            name: full_name ~ "[<index>]",
        }
    })|json_encode}) -%}
    {%- set is_nested_form = false -%}
    {%- set element_attr = element_attr|appendToKey("class", "form-widget-collection") -%}

    {{- block("form_row") -}}
{%- endblock collection_row -%}


{%- block collection_widget -%}
    {#- We don't need to set the prototype here as it is already set in collection_row. -#}
    {#- However we should display the empty message, if there is no entry. -#}
    {%- if value is empty and empty_message -%}
        <div class="form-collection-empty-message">{{ empty_message|trans }}</div>
    {%- endif -%}

    {{- block('form_widget') -}}
{%- endblock -%}


{%- block collection_entry_row -%}
    <div class="form-collection-entry form form-nested-root">
        {{- block("form_row") -}}
    </div>
{%- endblock -%}
